/* Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';
/* Bootstrap Icons */
@import 'bootstrap-icons/font/bootstrap-icons.css';
/* AOS */
@import 'aos/dist/aos.css';
/* GLightbox */
@import 'glightbox/dist/css/glightbox.min.css';
/* Swiper */
@import 'swiper/css/bundle';

/* Template Main CSS */
@import './main.css';
